.image-width {
  width: 100%;
}

.red {
  margin: 0 3px;
  width: 25px;
}

.point {
  margin: 0 2%;
}

.t-small {
  font-size: 0.8em;
  color: #768596;
}

.title .first-title {
  padding: 0 15px;
}

.title .first-title h1 {
  font-size: 4.5em;
  font-weight: bold;
  font-family: "PT Sans";
}

.title .principal, .title .secundario {
  display: flex;
  align-items: flex-end;
  padding: 2% 12% 2% 4%;
  font-family: "PT Sans";
  -webkit-box-shadow: inset 0px -73px 103px -5px #1a191a;
  -moz-box-shadow: inset 0px -73px 103px -5px #1a191a;
  box-shadow: inset 0px -73px 103px -5px #1a191a;
  background-size: cover;
  background-repeat: no-repeat;
}

.title .principal {
  background-image: url("../../assets/image/img_grid_principal.jpg");
  height: 84vh;
  margin: 4.5% 0%;
  line-height: 40px;
}

.title .principal a {
  font-size: 2.5em;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px #000;
}

.title .secundario {
  background-image: url("../../assets/image/img_grid_secundario.jpg");
  height: 40vh;
  line-height: 28px;
  margin: 4.5% 0%;
}

.title .secundario a {
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px #000;
  font-size: 1.8em;
}

.slider .sidebar-title {
  height: 5px;
  background: #AA1801;
  margin-bottom: 0%;
}

.slider .sidebar-title span {
  background: #AA1801;
  color: white;
  font-family: "Oswald";
  font-size: 1.6em;
  padding: 5px 10px;
  position: relative;
  z-index: 100;
}

.slider .slider-col {
  background-color: #F2F2F2;
  padding: 5%;
}

.slider .slider-col .borde-white {
  width: 80px;
  border: 5px solid white;
  margin: auto auto 5%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.37);
}

.slider .slider-col a {
  font-size: 0.8em;
  color: #000;
}

.slider .slider-col p {
  padding: 3% 5%;
}

.destacado .titular {
  margin: 4% 0%;
  border: 1px solid #768596;
}

.destacado .titular h4 {
  color: #C33C2D;
  font-family: "PT Sans";
  font-weight: bold;
  padding: 2%;
}

.destacado .titular .texto-todo {
  padding: 3%;
}

.destacado .titular .texto-todo p {
  font-family: "PT Sans";
  height: 5px;
  font-size: 1.1em;
  display: inline-block;
}

.destacado .titular .texto-todo a {
  color: #000;
  font-weight: bold;
  margin-left: 2%;
}

.destacado .titular .texto-todo a:hover {
  color: #768596;
  text-decoration: none;
}

.destacado .titular .sombra {
  height: 27vh;
  line-height: 22px;
  font-size: 1.4em;
  -webkit-box-shadow: inset 0px -73px 103px -5px #1a191a;
  -moz-box-shadow: inset 0px -73px 103px -5px #1a191a;
  box-shadow: inset 0px -73px 103px -5px #1a191a;
  display: flex;
  align-items: flex-end;
  padding: 2% 12% 2% 4%;
  font-family: "PT Sans";
}

.destacado .titular .sombra a {
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px #000;
}

.destacado .titular .image-1, .destacado .titular .image-2, .destacado .titular .image-3, .destacado .titular .image-4 {
  background-size: cover;
  background-repeat: no-repeat;
}

.destacado .titular .image-1 {
  background-image: url("../../assets/image/img_especiales.jpg");
}

.destacado .titular .image-2 {
  background-image: url("../../assets/image/img_especiales_aside.jpg");
}

.destacado .titular .image-3 {
  background-image: url("../../assets/image/img_grid_especiales.jpg");
}

.destacado .titular .image-4 {
  background-image: url("../../assets/image/img_video_destacado.jpg");
}

.destacado .last-new-title {
  margin: 8% 0% 2%;
}

.destacado .last-new-title .last-icon {
  color: #768596;
  font-family: "Oswald";
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-right: 5px;
}

.destacado .last-new-title img {
  margin-bottom: 1%;
}

.destacado .small {
  font-size: 0.8em;
}

.destacado .subtitle {
  font-weight: bolder;
  font-size: 1.5em;
  color: #000;
  font-family: "PT Sans";
}

.destacado .subtitle:hover {
  color: #768596;
  text-decoration: none;
}

.destacado hr {
  border-top: 1px solid #CDCDCD;
}

.destacado .last-news {
  margin-top: 1%;
}

.destacado .last-news .point {
  margin: 0% 4%;
}

.destacado .last-news .ico-comment {
  margin-right: 1%;
}

.destacado .last-news .icon {
  margin-left: 2%;
  font-size: 1.4em;
  color: #AA1801;
}

.destacado .last-news p {
  margin: 4% 0%;
  font-family: "PT Sans";
  font-size: 1.1em;
}

.bg-sidebar {
  background-image: url("../../assets/image/archive-sidebar-bg.jpg");
  padding: 14% 3.5% 3.5%;
  margin: 6% 0;
}

.bg-sidebar .subscribe {
  background-color: white;
  padding: 0 6% 1%;
}

.bg-sidebar .subscribe .icono-circle {
  margin-top: -35px;
  margin-bottom: 15px;
}

.bg-sidebar .subscribe p {
  font-size: 1.6em;
  font-family: "PT Sans";
}

.bg-sidebar .subscribe .form-group {
  padding: 0 8%;
}

.bg-sidebar .subscribe .form-group input {
  background-color: #F2F2F2;
  box-shadow: 1px 1.5px 0 0px rgba(0, 0, 0, 0.3) inset;
}

.bg-sidebar .subscribe .form-group button {
  color: white;
  background-color: #BA1414;
  width: 100%;
  font-family: "PT Sans";
  font-weight: bolder;
  margin-top: 4%;
  border: none;
}

.box {
  margin-bottom: 8%;
  border: 1px solid #CDCDCD;
}

.box .logo {
  display: block;
  margin: auto;
  padding: 5%;
}

.box .row {
  padding: 4%;
}

.box .row .no-margin {
  padding-right: 0;
}

.box .row .no-margin .borde-gris {
  border: 2px solid #768596;
}

.box .row a {
  color: #000;
  font-weight: bold;
  line-height: 20px;
}

.uno .row .no-margin {
  padding-right: 0;
}

.uno .row .no-margin .borde-gris {
  border: 4px solid #768596;
}

.uno p {
  font-family: "PT Sans";
  margin-top: 8px;
}

.uno p a {
  color: #872F85;
}

.uno hr {
  border: 3px solid #872F85;
  margin: 0 auto;
}

.dos p {
  font-family: "PT Sans";
  margin-top: 8px;
}

.dos p a {
  color: #DD4A4A;
}

.dos hr {
  border: 3px solid #DD4A4A;
  margin: 0 auto;
}

.tres p {
  font-family: "PT Sans";
  margin-top: 8px;
}

.tres p a {
  color: #DD4A4A;
}

.tres hr {
  border: 3px solid #FFEA53;
  margin: 0 auto;
}

.cuatro p {
  font-family: "PT Sans";
  margin-top: 8px;
}

.cuatro p a {
  color: #D2186A;
}

.cuatro hr {
  border: 3px solid #D2186A;
  margin: 0 auto;
}

.box-sidebar .sidebar-title {
  height: 5px;
  background: #768596;
  margin-bottom: 12%;
}

.box-sidebar .sidebar-title span {
  background: #768596;
  color: white;
  font-family: "Oswald";
  font-size: 1.1em;
  padding: 5px 10px;
  position: relative;
  z-index: 100;
}

.box-sidebar hr {
  margin-bottom: 12%;
}

.box-sidebar a {
  font-size: 1.5em;
  font-weight: bolder;
  color: #000;
  font-family: "PT Sans";
}

.box-sidebar a:hover {
  color: #768596;
  text-decoration: none;
}

.box-sidebar .borde-gray {
  width: 100%;
  border: 2px solid #768596;
  display: block;
  margin: 4% auto;
}

.box-sidebar .row {
  margin-top: 5%;
}

.box-sidebar .row a {
  font-size: 1.1em;
  line-height: 20px;
}

.box-sidebar .row .no-margin {
  padding-right: 0;
}

.box-sidebar .row .no-margin .borde-gris {
  border: 2px solid #768596;
}

.especiales-sidebar .sidebar-title {
  height: 5px;
  background: #768596;
  margin-bottom: 12%;
}

.especiales-sidebar .sidebar-title span {
  background: #768596;
  color: white;
  font-family: "Oswald";
  font-size: 1.1em;
  padding: 5px 10px;
  position: relative;
  z-index: 100;
}

.especiales-sidebar hr {
  margin-bottom: 12%;
}

.especiales-sidebar .bg-one {
  background-image: url("../../assets/image/img_especiales_aside.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  padding: 3%;
  margin-bottom: 5%;
  display: flex;
  align-items: flex-end;
}

.especiales-sidebar .bg-one .bg-text {
  color: #000;
  width: 100%;
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 1.2em;
  padding: 3% 6%;
  background-color: rgba(255, 255, 255, 0.8);
}

.especiales-sidebar .bg-two {
  background-image: url("../../assets/image/img_especiales_aside.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  padding: 3%;
  margin-bottom: 5%;
  display: flex;
  align-items: flex-end;
}

.especiales-sidebar .bg-two .bg-text {
  color: #000;
  width: 100%;
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 1.2em;
  padding: 3% 6%;
  background-color: rgba(255, 255, 255, 0.8);
}

.especiales-sidebar .bg-three {
  background-image: url("../../assets/image/img_especiales_aside.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  padding: 3%;
  margin-bottom: 5%;
  display: flex;
  align-items: flex-end;
}

.especiales-sidebar .bg-three .bg-text {
  color: #000;
  width: 100%;
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 1.2em;
  padding: 3% 6%;
  background-color: rgba(255, 255, 255, 0.8);
}

.especiales-sidebar .bg-four {
  font-size: 1em;
  background-image: url("../../assets/image/img_especiales_aside.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  padding: 3%;
  margin-bottom: 5%;
  display: flex;
  align-items: flex-end;
}

.especiales-sidebar .bg-four .bg-text {
  color: #000;
  width: 100%;
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 1.2em;
  padding: 3% 6%;
  background-color: rgba(255, 255, 255, 0.8);
}

.caricatura-sidebar .sidebar-title {
  height: 5px;
  background: #AA1801;
  margin-bottom: 12%;
}

.caricatura-sidebar .sidebar-title span {
  background: #AA1801;
  color: white;
  font-family: "Oswald";
  font-size: 1.1em;
  padding: 5px 10px;
  position: relative;
  z-index: 100;
}

.caricatura-sidebar p {
  font-size: 1.5em;
  font-family: "PT Sans";
}

.caricatura-sidebar img {
  margin-bottom: 4%;
}

.caricatura-sidebar a {
  display: block;
  color: #BA1414;
  font-size: 1.1em;
  font-weight: 600;
  margin: 4% auto;
  font-family: "PT Sans";
}

.caricatura-sidebar hr {
  margin-bottom: 12%;
}

.blog-sidebar hr {
  margin-bottom: 12%;
}

.blog-sidebar .sidebar-title {
  height: 5px;
  background: #768596;
  margin-bottom: 12%;
}

.blog-sidebar .sidebar-title span {
  background: #768596;
  color: white;
  font-family: "Oswald";
  font-size: 1.1em;
  padding: 5px 10px;
  position: relative;
  z-index: 100;
}

.blog-sidebar .borde-white {
  border: 5px solid white;
  margin: auto auto 5%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.37);
  border: 2px solid white;
}

.blog-sidebar a {
  display: block;
  color: #BA1414;
  font-size: 1.1em;
  font-weight: 600;
  margin: 4% auto;
  font-family: "PT Sans";
  text-align: center;
}

.blog-sidebar .row {
  margin-top: 3%;
}

.blog-sidebar .row .blog-texto {
  padding: 2% 1%;
}

.blog-sidebar .row .blog-texto p {
  margin-bottom: 0;
}

.blog-sidebar .row .blog-texto p:first-child {
  font-size: 0.8em;
  text-decoration: underline;
  font-family: "PT Sans";
}

.blog-sidebar .row .blog-texto p:last-child {
  font-family: "PT Sans";
  font-weight: bolder;
  font-size: 1.1em;
}

.edicion-sidebar .sidebar-title {
  height: 5px;
  background: #AA1801;
  margin-bottom: 12%;
}

.edicion-sidebar .sidebar-title span {
  background: #AA1801;
  color: white;
  font-family: "Oswald";
  font-size: 1.1em;
  padding: 5px 10px;
  position: relative;
  z-index: 100;
}

.edicion-sidebar hr {
  margin-bottom: 12%;
}

.edicion-sidebar .row {
  margin-top: 5%;
  margin-bottom: 4%;
  font-family: "PT Sans";
}

.edicion-sidebar .row p {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20%;
}

.edicion-sidebar .row a {
  color: #DD4A4A;
  text-decoration: underline;
  font-size: 1.1em;
  font-weight: bolder;
}

.pregunta {
  background-color: white;
  padding: 0 6% 1%;
}

.pregunta .icono-circle {
  margin-top: -35px;
  margin-bottom: 15px;
}

.pregunta button {
  color: white;
  background: #BA1414;
  border: none;
  font-family: "PT Sans";
  font-weight: bolder;
  width: 60%;
}

.pregunta a {
  display: block;
  color: #BA1414;
  font-size: 1.1em;
  font-weight: 600;
  margin: 4% auto;
  font-family: "PT Sans";
}

.pregunta-ayer {
  background-color: white;
  padding: 0 6% 1%;
}

.pregunta-ayer .icono-circle {
  margin-top: -35px;
  margin-bottom: 15px;
}

.pregunta-ayer h5 {
  padding-top: 8%;
  font-weight: bolder;
  font-size: 1.2em;
}

.pregunta-ayer .bar-progress {
  font-size: 1.3em;
  font-weight: 600;
  background-image: url("../../assets/image/barprogress_bg.jpg");
  width: 100%;
  margin: 4% 0%;
  font-family: "PT Sans";
  letter-spacing: 1px;
}

.pregunta-ayer .bar-progress .green {
  background-color: #CDF3A6;
  padding: 1%;
  width: 72%;
}

.pregunta-ayer .bar-progress .red-light {
  background-color: #F0A3A3;
  padding: 1%;
  width: 45%;
}

.pregunta-ayer a {
  display: block;
  color: #BA1414;
  font-size: 1.1em;
  font-weight: 600;
  margin: 4% auto;
  font-family: "PT Sans";
}

.enviar-foto {
  background-color: white;
  padding: 0 6% 1%;
}

.enviar-foto .icono-circle {
  margin-top: -35px;
  margin-bottom: 15px;
}

.enviar-foto h4 {
  margin-top: 0;
  margin-bottom: 5%;
}

.enviar-foto h6 {
  font-weight: 600;
  margin: 6% 0%;
}

.btn-red {
  color: white;
  background: #BA1414;
  border: none;
  font-family: "PT Sans";
  font-weight: bolder;
  width: 60%;
  display: block;
  margin: 4% auto;
}

.enlace-red {
  display: block;
  color: #BA1414;
  font-size: 1.1em;
  font-weight: 600;
  margin: 4% auto;
  font-family: "PT Sans";
}
