include mixins
doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Home
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='assets/css/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='assets/css/slick.css')
    link(rel='stylesheet', type='text/css', href='assets/css/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='assets/css/main.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/slick.min.js')
    script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='js/modernizr.custom.68172.js')
    script(type='text/javascript', src='js/respond.js')
  body
    header
        .header1
            .container
                .row
                    img(src="./assets/image/banner_top.jpg")
                    .col-md-6.col-xs-12
                        ul
                            li LIBERO.PE
                            li ELPOPULAR.PE
                            li FUNDACIÓN GUSTAVO MOHME LLONA
                    .col-md-6.col-xs-12
                        ul
                            li.btn-boletin SUSCRÍBETE AL BOLETÍN
                            li
                                i.fa.fa-facebook
                            li
                                i.fa.fa-twitter
                            li
                                i.fa.fa-google-plus
                            li
                                i.fa.fa-envelope
                            li
                                i.fa.fa-rss
                            li BUSCAR
                                i.fa.fa-search
        .header2
            .container
                .row
                    .col-md-6.col-xs-12
                        img(src="./assets/image/logo-la-republica.jpg")
                    .col-md-3.col-xs-12
                        .marco-rojo
                            h1 HABLA LA LIDERESA DEL NACIONALISMO
                            .dom DOMINGO
                    .col-md-3.col-xs-12
                        .marco-gris
                            h3 La corrupción, los orígenes
                            em por: Gustavo Mohme Llona
                            img(src="./assets/image/img_editorial_text.jpg")
                            img(src="./assets/image/img_author.jpg")