include mixins
doctype html
html(lang='es-PE')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Home
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='assets/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='assets/css/slick.css')
        link(rel='stylesheet', type='text/css', href='assets/css/slick-theme.css')
        link(rel='stylesheet', type='text/css', href='assets/css/main.css')
        script(src='http://code.jquery.com/jquery-1.11.2.min.js')
        script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(type='text/javascript', src='js/bootstrap.min.js')
        script(type='text/javascript', src='js/slick.min.js')
        script(type='text/javascript', src='js/bootstrap-hover-dropdown.min.js')
        script(type='text/javascript', src='js/modernizr.custom.68172.js')
        script(type='text/javascript', src='js/respond.js')
   
    body
        include mixinmilu.jade
        section.title
            .container
                a(href="#")
                    img(src="./assets/image/banner-header.jpg", alt="")
                h1.text-center GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
                .red-social.text-center
                    +redes
                    img(src="./assets/image/bullet.gif", alt="")
                    span Hace 12 minutos
                    img(src="./assets/image/bullet.gif", alt="")
                    a(href="#") POLÍTICA
                .row.text-left
                    .col-md-6
                        .principal-jne.sombra
                            a(href="#") JNE impulsará campaña en favor de la aprobación de la Reforma Electoral
                    .col-md-6
                        .secundario.sombra
                            a(href="#") Martín Belaunde Lossio: Empresas vinculadas al empresario contrataron por S/.3 000 millones | 
                            a(href="#") FOTOS
                        .futbol.sombra
                            a(href="#") Sub 20: Perú vs. Paraguay: bicolor empató 1-1 y pasó al hexagonal final del Sudamericano | 
                            a(href="#") VIDEO
        section.slider
            .container
                .red
                    .columnistas-text COLUMNISTAS
                #myCarousel.carousel.slide(data-ride="carousel")
                    ol.carousel-indicators
                        li.active(data-target="#myCarousel" data-slide-to="0")
                        li(data-target="#myCarousel" data-slide-to="1")
                        li(data-target="#myCarousel" data-slide-to="2")
                    .carousel-inner(role="listbox")
                        .item.active

