mixin redes
	a(href="#")
		img(src="./assets/image/s-icons/facebook.png", alt="")
	a(href="#")
		img(src="./assets/image/s-icons/twitter.png", alt="")
	a(href="#")
		img(src="./assets/image/s-icons/g-plus.png", alt="")
	img(src="./assets/image/bullet.gif", alt="")
	span Hace 12 minutos
	img(src="./assets/image/bullet.gif", alt="")
	a(href="#") POLÃTICA